@import '../../App.scss';

input{
    position: relative;
    width: $width;
    margin-bottom: 1.15em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    outline: none;
}

::placeholder {
    color: $color4;
}