@import '../../App.scss';

#navbar{
    position: relative;
    width: $width;
    display: flex;
    align-items: center;
    padding: 1em 3em;
    border-bottom: 0.02em solid $color1;

    nav, span{
        display: flex;
        align-items: center;
        gap: 2em;
    }

    nav{
        margin-left: 5em;

        #link{
            color: $color6;
            text-decoration: none;
        }
    }

    span{
        margin-left: auto;
        border-left: 0.2em solid $color6;
        padding: 0 2em;

        #sgu-btn{
            background: $color5;
            color: $color6;
            width: calc($wk-width * 0.1);
        }
    }
}