@import '../../App.scss';


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.signinImg {
    height: auto;
    width: 100%;
    flex: 1;
    object-fit: cover;
}

.signinForm {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    margin: 80px;
    width: 100%;
}

.signinForm h1 {
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}

.signinForm h3 {
    padding-bottom: 20px;
    font-weight: 500;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
}

#signin {
    background-color: $bg-color;
    color: $color1;
}

#google {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    color: $color2;
    background: none;
    gap: 5px;
}

form p {
    margin-top: 10px;
    color: $color3;
}

span {
    color: $bg-color;
    font-weight: bold;
}